@charset "UTF-8";

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.topbar{
    background-color: #ff6b28;
    padding: 20px;
    text-align: center;
}

#cabecalho {
    background-image: url(images/hero_bolo.jpg);
    height: 400px;
    background-size: cover;
    background-position:  center center;
}

.conteudo {
    max-width: 990px;
    min-width: 330px;
    margin: auto;
    padding: 40px;
    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff6b28;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.cartao {
    max-width: 550px;
    min-width: 30px;
    padding: 90px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.cartao:hover {
    box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.226);
}

.ingredientes {
    cursor: url(./images/cursor_ingredientes.png), default;
}

.preparo {
    cursor: url(./images/cursor_preparo.png), default;
}

a {
    text-decoration: none;
    
}

.botao-comprar {
    background-color: #ff6b28;
    min-width: 330px;
    padding: 12px;
    border-radius: 20px;
    color: white;
}

.botao-comprar:hover {
    color: #333;
}

li {
    margin-bottom: 16px;
}

.lista-ingredientes {
    max-width: 550px;
    min-width: 330px;
    margin-bottom: 65px;
    width: 300px;
}

.rodape {
    background-color: #ff6b28;
    color: white;
    padding: 15px;
    text-align: center;
}

.rodape-texto {
    max-width: 500px;
    margin: auto;
    font-size: 1em;
    line-height: 24px;
}

.instrucoes {
    cursor: url(./images/cursor_intrucoes.png), default;
}

p, li {
    line-height: 28px;
}

.text-white {
    color: white;
}

.text-white:hover {
    color: #333;
}